* {
    font-family: "nanumSquareNeo";
    text-align: center;
    margin: 0;
    padding: 0;
}

#wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#aside {
    width: 200px;
}

#aside .logo {
    width: 100%;
    line-height: 100px;
    background-color: #efefef;
}

#aside .nav {
    line-height: 550px;
    background-color: #e3e3e3;
}

#main {
    width: calc(100% - 200px);
}

#slider {
    width: 100%;
    display: flex;
}

#slider .image {
    width: calc(100% - 230px);
    height: 400px;
    background-color: #d9d9d9;
}

#slider .banner {
    width: 230px;
    height: 400px;
    background-color: #d1d1d1;
}

#contents {
    width: 100%;
    display: flex;
}

#contents .content1 {
    width: 50%;
    height: 250px;
    background-color: #c7c7c7;
}

#contents .content2 {
    width: 50%;
    height: 250px;
    background-color: #bcbcbc;
}

#footer {
    width: 100%;
    display: flex;
}

#footer .footer1 {
    width: 20%;
    height: 200px;
    background-color: #b1b1b1;
}

#footer .footer2 {
    width: 60%;
    height: 200px;
    background-color: #a3a3a3;
}

#footer .footer3 {
    width: 20%;
    height: 200px;
    background-color: #9d9d9d;
}


h1 {
    font-size: 16px;
    font-weight: normal;
}

#aside h1,
.footer1,
.footer2,
.footer3 {
    line-height: 200px;
}

#aside nav {
    line-height: 550px;
}

#slider {
    line-height: 400px;
}

#contents {
    line-height: 250px;
}