* {
    margin: 0;
    padding: 0;
    font-family: "nanumSquareNeo";
    text-align: center;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 16px;
    font-weight: normal;
}

#header {
    width: 100%;
    display: flex;
}

#header .logo {
    width: 20%;
    height: 100px;
    background-color: #efefef;
}

#header .nav {
    width: 80%;
    height: 100px;
    background-color: #e3e3e3;
}

#header .logo,
#header .nav,
#footer .footer1 {
    line-height: 100px;
}

#slider {
    width: 100%;
    height: 300px;
    background-color: #d9d9d9;
}

#contents {
    width: 100%;
    display: flex;
}

#contents .content1 {
    width: 33.3333%;
    height: 200px;
    background-color: #d1d1d1;
}

#contents .content2 {
    width: 33.3333%;
    height: 200px;
    background-color: #c7c7c7;
}

#contents .content3 {
    width: 33.3333%;
    height: 200px;
    background-color: #bcbcbc;
}

#footer {
    width: 100%;
    display: flex;
}

#footer .footer1 {
    width: 20%;
    height: 100px;
    background-color: #b1b1b1;
}

#footer .footer2 {
    width: 80%;
}

#footer .footer2 .footer2-1 {
    width: 100%;
    height: 50px;
    background-color: #a3a3a3;
}

#footer .footer2 .footer2-2 {
    width: 100%;
    height: 50px;
    background-color: #9d9d9d;
}

#footer .footer2 {
    line-height: 50px;
}

#slider {
    line-height: 300px;
}

#contents .content1,
#contents .content2,
#contents .content3 {
    line-height: 200px;
}