* {
    margin: 0;
    padding: 0;
    font-family: "nanumSquareNeo";
    text-align: center;
}

#wrap {
    width: 100%;
}

#header {
    width: 100%;
    height: 100px;
    background-color: #efefef;
}

#header .logo {
    width: 20%;
    height: 100px;
    background-color: #c7c7c7;
}

#header .nav {
    width: 80%;
    height: 100px;
    background-color: #bcbcbc;
}

#slider {
    width: 100%;
    height: 300px;
}

#contents {
    width: 100%;
}

#contents .content1 {
    width: 33.3333%;
    height: 200px;
    background-color: #bcbcbc;
}

#contents .content2 {
    width: 33.3333%;
    height: 200px;
    background-color: #b1b1b1;
}

#contents .content3 {
    width: 33.3333%;
    height: 200px;
    background-color: #a3a3a3;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: #d1d1d1;
}

#footer .footer_container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

#footer .footer_container .footer1 {
    width: 80%;
    height: 100px;
    background-color: #9d9d9d;
}

#footer .footer_container .footer2 {
    width: 20%;
}

#footer .footer_container .footer2 .footer2-1 {
    width: 100%;
    height: 50px;
    background-color: #929292;
}

#footer .footer_container .footer2 .footer2-2 {
    width: 100%;
    height: 50px;
    background-color: #838383;
}

h1 {
    font-size: 16px;
    font-weight: normal;
}

.logo,
.nav,
.footer1,
.footer2,
.footer3 {
    line-height: 100px;
}

#slider {
    line-height: 300px;
}

.content1,
.content2,
.content3 {
    line-height: 200px;
}

.container {
    justify-content: center;
    width: 1200px;
    height: inherit;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
}